<div class="jumbotron text-center">
  <h1 class="display-3">Tweets by #realDonaldTrump</h1>
  <p class="lead">Latest Tweets list is here</p>
   <a href="/refreshlist" class="btn btn-dark btn-lg">Refresh</a>
  {{!-- <button class="btn btn-dark btn-lg listbutton">Refreshh list</button> --}}
</div>

